body {
  background-color: white; 
  color: black; 
  font-family: Arial,Helvetica,sans-serif;
  margin-left: 32; 
  margin-right: 32; 
  margin-top:16; 
  font-size:80%;
}

a            { font-size: 100%; 
					text-decoration: none; 
					font-weight: bold; 
					letter-spacing: 1;
				 }
a:link       { color:darkgreen;}
a:visited    { color : #336633; 
					}
a:active   {color :green; text-decoration: underline}
a:hover,
a:visited:hover {color :#008800; text-decoration: underline}

p            { text-indent: 0; margin-top: 4; margin-bottom: 8 }
p.indent   {}

p.publication  { text-indent: 0; margin-top: 4; margin-bottom: 8 }
li.publication { line-spacing: 0; 
                 margin-top: 0; 
                 margin-bottom: 16;
					  font-size: 90%; }
pre,
blockquote {margin-left:16; font-size:90%; text-indent:0; }
pre.xml {background:gray; color:white; font-weight:bold; padding=8;  }
pre.copyright { font-size: 70%; text-align: left;text-indent: 0 }

code {font-size:100%; }

.number {
  text-align:right;
}

table {
  border: 2 solid purple;
  margin:0;
  border-spacing:1px !important;
  border-collapse:collapse;
  padding:0;
  margin-bottom:16;
  width:0%;
}

tr {
 border:8 red;
 margin:0;
 padding:0;
}

th, td {
  font-family: Arial,Helvetica,sans-serif;
  font-size:80%;
  border-color:gray;
  border-width:1;
  padding:2;
  border-style:solid;
  border-collapse;
  margin:0;
  border-spacing:0;
}

th {
  text-align:left;
  vertical-align:bottom;
}
  

td {
}

h1,h2,h3,h4 {
  margin-bottom:0;
  letter-spacing:2;
  text-align:left;
}
p,h1,h2,h3,h4 {
  margin-left:8;
}

p,h2,h3 {
}

h1 {
  font-size:180%;
  font-weight:normal;
}

h2 {
  font-size:140%;
  font-weight:bold;
  margin-top:16;
}

h3, h4 {
  font-size:100%;
  letter-spacing:0;
}

h4 {
  font-size:90%;
  text-align:center;
}

hr         {color:gray}

img        {border: 0}

ul,li { 
  line-spacing: 0; 
  margin-top: 0; 
  margin-bottom: 8; 
}

ul {
  list-style: square;  
}

li { 
  line-spacing: 0; 
  margin-top: 0; 
  margin-bottom: 2; 
}
